* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  color: #333;
}

.hero {
  background-image: url("bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 25px;
}

.hero > div {
  color: #fff;
  text-align: right;
  font-family: 'Shadows Into Light Two', sans-serif;
}

.hero h1 {
  font-size: 25px;
  text-transform: uppercase;
}

.hero h2 {
  font-size: 25px;
}

.body {
  padding: 50px;
  width: 600px;
  margin: 0 auto;
}

.contact {
  margin-top: 50px;
}

/* Responsive */

@media only screen and (max-width: 600px) {
  .body {
    width: 100%;
  }
}
